{% load static %}
<div class="w-full h-10 bg-slate-900 shadow-xl">


    <nav>
        <ul class="px-8 flex gap-2 items-center">
            <li class="hover:bg-slate-600 p-2 text-sm md:text-base rounded-lg">
                <a class="" href="/">
                    <div class="text-white">Employees</div>
                </a>
            </li>
            <li class="hover:bg-slate-600 p-2 text-sm md:text-base rounded-lg">
                <a class="" href="/">
                    <div class="text-white">Clients</div>
                </a>
            </li>
            <li class="hover:bg-slate-600 p-2 text-sm md:text-base rounded-lg">
                <a class="" href="/">
                    <div class="text-white">All Tasks</div>
                </a>
            </li>
            <li class="hover:bg-slate-600 p-2 text-sm md:text-base rounded-lg">
                <a class="" href="/">
                    <div class="text-white">Admin</div>
                </a>
            </li>
        </ul>
    </nav>


</div>
<header x-data="{ mobilenavOpen: false }" class="md:flex items-center shadow-md justify-between [&>*]:px-8 bg-gray-800 h-20 text-white sticky top-0 z-40">
    <div class="flex items-center justify-between h-20">
        <logo>
            <a class="flex items-center gap-1" href="/">
                <img class="w-28 -mt-1" src="{% static 'images/logo.png' %}"/>
            </a>
        </logo>
        <mobileicon class="md:hidden">
            <a @click="mobilenavOpen = !mobilenavOpen" class="h-12 w-12 flex items-center justify-center cursor-pointer hover:bg-gray-700 rounded-lg">
                <img x-show="!mobilenavOpen" class="w-6 h-6 select-none" src="https://img.icons8.com/small/64/ffffff/menu.png"/> 
                <img x-show="mobilenavOpen" x-cloak class="w-6 h-6 select-none" src="https://img.icons8.com/small/64/ffffff/delete-sign.png"/>
            </a>
        </mobileicon>
    </div>
    <nav x-show="mobilenavOpen" x-cloak class="md:!block bg-gray-800 h-screen w-screen md:h-auto md:w-auto -mt-20 md:mt-0 absolute md:relative z-[-1]"
    x-transition:enter="duration-300 ease-out"
    x-transition:enter-start="opacity-0 -translate-y-96"
    x-transition:enter-end="opacity-100 translate-y-0">
        <ul class="flex items-center navitems flex-col md:flex-row gap-8 md:gap-2 justify-center h-full -translate-y-10 md:translate-y-0">
            {% if user.is_authenticated %}
            <li class="group l "><a class="flex flex-col" href="/">
                <div>
                    <img width="20" height="20" src="https://img.icons8.com/ios/50/ffffff/home--v1.png" alt="home--v1"/>
                </div>
                <div class="text-xs">Home</div>
            </a>
        </li>
        <li class="group l "><a class="flex flex-col" href="/">
            <div>
                <img width="20" height="20" src="https://img.icons8.com/ios/50/ffffff/teacher.png" alt="teacher"/>
            </div>
            <div class="text-xs">Trainers</div>
        </a>
    </li>
    <li class="group l "><a class="flex flex-col" href="/">
        <div>
            <img width="20" height="20" src="https://img.icons8.com/ios/50/ffffff/online-group-studying.png" alt="online-group-studying"/>
        </div>
        <div class="text-xs">Courses</div>
    </a>
</li>
            <li>
                <a class="flex flex-col" href="{% url "post-create" %}">
                <div>
                    <img width="22" height="22" src="https://img.icons8.com/dotty/80/ffffff/create-new.png" alt="create-new"/>
                </div>
                <div class="text-xs">Post</div>
            </a>
        </li>
        <li>
            <a class="flex flex-col" href="{% url "my-tasks" %}">
            <div>
                <img width="22" height="22" src="https://img.icons8.com/ios-filled/50/ffffff/checklist--v1.png" alt="checklist--v1"/>
            </div>
            <div class="text-xs">Tasks</div>
        </a>
     </li>
            <li class="relative">
                <div class="absolute top-2 right-0"
                hx-get="{% url 'notify-inbox' %}"
                hx-trigger="load"
                hx-target="this"
                hx-swap="innerHTML"
                ></div>
                <a class="flex flex-col" href="{% url "inbox" %}">
                    <div>
                        <img width="24" height="24" src="https://img.icons8.com/ios/50/ffffff/email-open--v1.png" alt="email-open--v1"/>
                    </div>
                    <div class="text-xs">Inbox</div>
                </a>
            </li>
            <li x-data="{ dropdownOpen: false }" class="relative">
                <a @click="dropdownOpen = !dropdownOpen" @click.away="dropdownOpen = false" class="cursor-pointer select-none">
                    <img class="h-8 w-8 rounded-full object-cover" src="{{user.employee.avatar}}"/>
                    {% if user.employee.real_name %}
                    {{user.employee.real_name}}
                    {% else %}
                    {{user.username}}
                    {% endif %}
                    <img x-bind:class="dropdownOpen && 'rotate-180 duration-300'" class="w-4" src="https://img.icons8.com/small/32/777777/expand-arrow.png"/>
                </a>
                <div x-show="dropdownOpen" x-cloak class="absolute right-0 bg-white text-black shadow rounded-lg w-40 p-2 z-20"
                x-transition:enter="duration-300 ease-out"
                x-transition:enter-start="opacity-0 -translate-y-5 scale-90"
                x-transition:enter-end="opacity-100 translate-y-0 scale-100">
                    <ul class="hoverlist [&>li>a]:justify-end">
                        <li><a href="{% url 'profile' %}">My Profile</a></li>
                        <li><a href="{% url 'profile-edit' %}">Edit Profile</a></li>
                        <li><a href="{% url 'profile-edit' %}">My Tasks</a></li>
                        <li><a href="{% url "account_logout" %}">Log Out</a></li>
                    </ul>
                </div>
            </li>

            {% else %}
            <li><a href="{% url "account_login" %}">Log In</a></li>
            {% endif %}
        </ul>
    </nav>
    
</header>
